h1 {
    text-align: center;
}

.stack-display-container {
    display: flex;
    flex-direction: column-reverse;
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
    width: 40vw;
    margin-left: 40vw;
}

.buttons-container {
    width: 40vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}


.button-stack {
    padding: 10px 20px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    height: 40px;
    width: 19vw;
}

.horazontal-rule {
    width: 40vw;
    margin: 0 auto;
}

.button-stack:hover {
    background-color: #564dff;
}

#number-input {
    width: 15vw;
}

.stack-number-input {
    margin-left: 31vw;
    width: 15vw;
}