.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 2px; */
    height: 40px;
}

.item-block {
    border: 1px solid black;
    text-align: center;
    border: 3px solid #564dff;
    border-radius: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    margin-right: 5px;

    animation: added;
    animation-duration: 1s;
}

@keyframes added {
    0%{
        background-color: #564dff;
        color: white;
    }
    100%{

    }
}

.stack-head-tail {
    /* border: 1px solid black; */
    /* text-align: center; */
    border: 2px solid #564dff;
    border-radius: 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    color: #564dff;
    font-weight: bold;
    /* margin-bottom: 2px; */
}