form {}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: none;
    outline: none;
    width: 50px;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: #6c63ff;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #564dff;
}

.caption {
    min-height: 22px;
    font-size: 20px;
   
}