.nodes-container {
    /* position: absolute; */
    display: flex;
    width: 80%;
    margin-left: 10%;
    /* margin-top: 50px; */
    justify-content: space-around;
    min-height: 100px;
    margin-bottom: 5px;
    min-height: 420px;
}


.link {
    width: 100%;
    height: 100%;
    margin-top: 60px;
}

.link p {
    margin-bottom: -2px;
}

.arrow {
    background-color: #564dff;
    width: 100%;
    height: 10px;
    position: relative;
    display: inline-block;
}

.arrowhead {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #564dff;
}