.nodes-wrapper {
    display: flex;
    justify-content: space-around;
}

.node {
    position: relative;
    border: 3px solid #564dff;
    border-radius: 5px;
    padding: 10px;
    min-height: 170px;

}


.circle {
    border: 3px solid #564dff;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


button {
    margin-top: 10px;
    background-color: #564dff;
    color: #fff;
    border: none;
    border-radius: 5px;
    /* font-size: 16px; */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #564dff;
}


.node-icon {
    padding: 5px;
    /* background-color: #564dff; */
    border: 2px solid #564dff;
    color: #564dff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.head-tail {
    padding: 5px;
    /* background-color: #564dff; */
    border: 2px solid #564dff;
    color: #564dff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

