.node {
    position: relative;
    border: 1px solid black;
    padding: 4px;
}

.circle {
    border: 1px solid black;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.initialize {
    border: 1px solid black;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: initialize;
    animation-duration: 2s;
}

@keyframes initialize {
    0% {
        width: 0px;
        height: 0px;
    }

    100% {}
}