#queue-container {
}


#queue-form-container-main {
    /* background-color: black; */
    width: 100%;
    height: 20vh;
}

#queue-display-container-outer {
    /* width: 100%; */
    height: 50vh;
    /* background-color: aqua; */
    margin-top: 5vh;
}

#queue-form-container {
}





#queue-display-container-inner {
    height: fill;
    width: 100%;
}

#queue-items-container {
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    /* width: 100%; */
    height: fill;
    width: 100%;
}

.queue-diaplay-item-wrapper {
    border: 3px solid #6c63ff;
    border-radius: 10px;
    width: 50px;
    margin: 5px;
    height: 10vh;
    /* optional - adds some space between the divs */
    text-align: center;

}

#queue-form-container {
    /* background-color: black; */
    text-align: center;
}

#queue-number-input-container {
   margin-left: -15vh;
}

#queue-number-input {
   width: 12vh;
}

#queue-buttons-container {

}

button {
    width: 15vh;
    margin-left: 5px;
}






#queue-explainer {
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 100%;
    /* background-color: red; */
}



#back-of-queue-explainer {
    height: 20vh;
    width: 200px;
    /* background-color: #6c63ff; */
    margin-right: 2vw;
}



#front-of-queue-explainer {
    height: 20vh;
    width: 200px;
    /* background-color: pink; */
    margin-left: -2vw;
}


.queue-explainer-spacer {
    border: 3px solid transparent;
    width: 50px;
    margin: 5px;
    height: 10vh;
    text-align: center;

}

#front-arrow {
    width: inherit;
    height: 40px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    margin-left: -1vh;
    
}

#back-arrow {
    width: inherit;
    height: 40px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    margin-left: 1vh;   
}





.enqueue-dequeue-off {
    text-align: center;
    opacity: 0;
}


.enqueue-dequeue-flash {
    text-align: center;
    opacity: 0;

    font-size: 18px;
    font-weight: bold;
    color:#6c63ff;
    border: 3px solid #6c63ff;

    animation: alert;
    animation-duration: 2s;
}


@keyframes alert {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}